
.form-group input:active, .form-group  input:focus {
    outline:0px !important;
       -webkit-appearance:none;
       box-shadow: none !important; 
  }
  @import "../../scss/default";
  @import "../../scss/./color";
  #add-home{
      padding-left: 91px;
      .address-row{
          align-items: center;
      
          .left{
              h3{
                  color: $primary-color;
                  font-weight: 600;
              }
          }
          .right{
              background-image: url(../../images/map.png);
              background-position: top;
              background-repeat: no-repeat;
              background-size: cover;
              height: 100vh;
          }
      }
  }
  
  
    @media (max-width: 768px) {
      #add-home{
          padding: 1rem;
      }
      .right{
          display: none;
      }
    }
  