@import "../../scss/./color";
#previous-home{
    padding-left: 91px;
    .previous-row{
        align-items: center;
        .left{
            h3{
                color: $primary-color;
                font-weight: 600;
            }
        }
        .right{
            background-image: url(../../images/previous.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100vh;
        }
    }
}

@media (max-width: 768px) {
    #previous-home{
        padding: 1rem;
    }   
    // .previous-row{
    //     margin-top: 40% !important;
    // }
}