@import "../../scss/./color";
#payment-home{
    padding-left: 91px;
    .payment-row{
        align-items: center;
        .left{
            p{
                font-size: 16px;
                color: #7F7F7F;
            }
            h3{
                color: #7F7F7F;
                margin-bottom: 2rem;
            }
            .select-div{
                margin-bottom: 2rem;
            }
            #transfer-select{
                box-shadow: 0px 3px 6px 3px #00000029;
                border: none;
                padding: .5rem;
                border-radius: 5px;
                width: 152px;
            }
        }
        #choose-payment-right{
            background-image: url(../../images/online-payment.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100vh !important;
        }
        // #bank-transfer-right{

        // }
    }
}
#modal-box{
   border: 1px solid $primary-color !important;
    position: relative;
    width: 40%;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        width: 100%;
    }
    .close-modal{
        position: absolute;
        right: 1rem;
        top: 1rem;
        border: none;
        background: none;
        i{
            font-size: 2rem;
        }
    }
    .modal-form{
        margin-top: 3rem;
        label{
            margin: 1rem 0;
        }
        #payment-certi-input{
            outline: none !important; 
            box-shadow: none !important;
    }
    }
 
}
@media (max-width: 768px) {
    #payment-home{
        padding: 1rem;
    }
    .payment-row{
        margin-top: 50% !important;
    }
    #modal-box{
        width: 80% !important;
    }
    // #payment-certi-input{
    //     width: 100% !important;
    // }
    // .modal-form{
    //     width: 225px !important;
    // }

#transfer-select{
    width: 100% !important;
}
}
