@import "../../scss/./color";
#criminal-home{
    padding-left: 91px;
    .criminal-row{
        align-items: center;
        .left{
            h3{
                color: $primary-color;
                font-weight: 600;
            }
        }
        .right{
            background-image: url(../../images/criminal.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100vh;
        }
    }

}
@media (max-width: 768px) {
    #criminal-home{
        padding: 1rem;
    }
    .criminal-row{
    margin-top: 40% !important;
    }

}