.invalid-image {
//   background-image: url(../../images/invalid_img..png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.inv, .deet {
  color: crimson !important;
}
.invalid {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 768px) {
 .backimg{
     display: none;
 }
 .crd{
        height: fit-content !important;

 }
}