@import "../../scss/default";
@import "../../scss/./color";
.custom-button{
    margin: 1rem 0;
    min-width: 84px;
    height: 42px;
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: .5rem;
    &:hover{
        border: 1px solid $primary-color;
        transition: ease-in-out .6s;
    }

}
@media (max-width: 768px) {
    .custom-button{
        width: 100%;
    }
}