#logo{
    position: absolute;
    margin-top: 2rem;
    margin-left: 0 !important;  
}
@media (max-width: 768px) {
    #logo{
        position: static;
        width: fit-content;
    }
}

@media (max-width: 768px){
    #logo{
        position: static;
        width: fit-content;
    }
}
@media (max-height: 670px) {
        
    #logo{
        position: static;
        width: fit-content;
    }
}