@import "../../scss/default";
@import "../../scss/./color";

.con {
  position: relative;
}
.valid-logo{
  margin-left: 91px;
}
.valid-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.valid {
  width: 70%;
  border: 1px solid transparent;
  box-shadow: 0px 3px 6px 3px #00000029;
  padding: 3rem 1rem;
  align-items: center;
  justify-content: space-between;
  .card-box {
    max-width: 100%;
    border: 1px solid;
    box-shadow: 10px 10px #888888;
    border-radius: 0 !important;
    .card-body {
      width: 100%;    
    }
  }
  .details {
    h6 {
      color: $primary-color;
      font-weight: 700;
    }
    .deet {
      margin-top: 2rem;
      color: $primary-color;
    }
    span {
      color: #d4d4d4;
      font-size: 0.6rem;
      font-weight: 700;
    }
  }
  i {
    color: $primary-color;
    font-size: 2rem;
    align-items: center;
  }
  label {
    margin-left: 0.5rem;
  }
}
.bckimg {
  background-image: url(../../images/bckimg.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: contain;
  // margin-left: -3rem;
  width: 100%;
  height: 100%;
}
@media (min-device-width: 735px) and (max-width: 768px) {
  .card-box {
    width: 200px !important;
    height: 200px !important;
    .card-body {
      width: 250px !important;
    }
  }
}
@media (max-width: 736px) {
  #logo {
    margin: 0.5rem 0 0 !important;
  }
  .valid-logo{
    margin-left: 0 !important;
  }
  .valid {
   width: 90%;
    padding: 0;
    .card-box {
      border: none !important;
      box-shadow: none !important;
    }
    .details {
      background-color: #f6f6f6;
      padding: 0.5rem;
      .deet {
        margin-top: 0.5rem;        
      }
    }
    i {
      display: none;
    }
  }
 .bckimg {
    display: none;
  }
}
