textarea:hover, 
/* input:hover,  */
textarea:active, 
/* input:active,  */
textarea:focus, 
/* input:focus, */
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.App {
  overflow: hidden;
}

.back-btn button {
  background: none;
  border: none;
  color: #1c6641;
  cursor: pointer;
  margin: 5rem 0 1rem 0;
}

.back-btn button:hover {
  color: #1b8652;
}
