@import "../../scss/default";
@import "../../scss/./color";

#home-main{
   padding-left: 91px;
    .head-text{
        // margin-top: 51px;
        h3{
            color: $primary-color;
            font-weight: 600;
        }
    }
    ul{
        margin: 1rem 0;
        list-style: none;
        padding: 0;
        li{
            padding: 1rem 0;
            position: relative;
            font-weight: 600;
           a{
               text-decoration: none;
               color: $primary-color;
               i{
                   color: #000000;  
               }
           }
           & :hover{
            background-color: $primary-color;
            color: $secondary-color;
            padding: .5rem 0;
            border-radius: 5px;
            i{
                color: #fff;
            }
        }
           .free-text{
               background-color: $primary-color;
               color: #fff;
               font-size: 10px;
               font-weight: 600;
               border-radius: 5px;
               padding: .1rem;
               position: absolute;
               margin-top: -.3rem; 
               margin-left: .2rem;   
           }  
           #Guarantor{
            font-weight: 100;
        }
        }  
        
    }
}
#home_img{
        background-color: $primary-color;
        background-size:cover ;
        height: 100vh !important;
        padding: 0 !important;
        border-top-left-radius: 40%;
        border-bottom-left-radius: 40%;
        .phone{
            background-image: url(../../images/phone@2x.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: inherit;
            margin-left: -7rem;
        }
    }

    .home-row{
        flex-direction: row;
        align-items: center;
    }
 
    @media (max-width: 768px) {
        #home-main{
            padding-left: 1rem;
        }
        #home_img{
            display: none;
        }
        .home-row{
            margin-top: 5rem !important;
            flex-direction: column-reverse;
        }
        li{
            padding: 1.5rem 0 !important ;
        }
    }
